<h1>Listing images</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%= link_to 'Edit', edit_display_image_path(image.display,image) %></td>
    <td><%= link_to 'Show', url_for([image.display,image]) %></td>
    <td><%= link_to 'Destroy', url_for([image.display,image]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image', new_display_image_path %>
